* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

ul,
li {
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    height: 100%;
}


.main-nav {
    height: 80px;
    position: absolute;
    z-index: 9;
    width: 100%;
    background: rgba(94, 93, 88, 0.6);
    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        .logo {
            cursor: pointer;
           
            img {
                height: 100%;
               
            }
            
        }
        ul {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 16px;
            font-weight: 700;
            color: rgba(255, 255, 255, 0.6);
            gap: 20px;
            li {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                height: 100%;
                &:hover {
                    color: #18CFAB;
                }
            }
            .first {
                color: #18CFAB;
                border-bottom: 3px solid #18CFAB;
            }

        }

    }


}
header {
    margin-bottom: 20px;
    width: 100%;
    height: 100vh;
    background-image: url('./assets/Layer\ 1\ 5.svg');
    background-repeat: no-repeat;
    background-size: cover;
    .container {
        padding-top: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 22px;
        h2 {
            color: white;
            font-size: 35px;
            font-weight: 700;
            span {
                color: #18CFAB;
            }
        }
        h1 {
            font-size: 78px;
            font-weight: 700;
            color: white;
        }
        .sub-h2 {
            font-size: 34px;
            font-weight: 400;
           color:  #D4D4D4 ;
           margin-bottom: 122px;

        }
        .buttons {
            align-items: center;
            justify-content: center;
            display: flex;
            gap:26px ;
            width: 100%;
            button {
                width: 100%;
                max-width: 180px;
                color: white;
                display: flex;
                font-size: 15px;
                font-weight: 700;
                align-items: center;
                justify-content: center;
                height: 68px;
                border-radius: 5px;
               
                border: none;
                padding: 0 20px;
                border-top: white solid 6px;
                cursor: pointer;
            }
            .green{
                background-color: #18CFAB;
            }
            .blue {
                    background-color:  #00cbf6 ;
                    
            }
        }

    }
    
}
.four-option {
    width: 100%;
    
    .container {
        display: flex;
        .option {
            height: 360px;
            width: 25%; 
            display: flex;
            flex-direction: column;
            font-size: 15px;
            gap: 48px;
            font-weight: 700;
            background-color: #1c2a33;
            color: #18CFAB;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            img {
                height: 50px;
            }
            &:nth-child(even)
            {
                background-color: #18cfab;
                color: white;
            }


        }



    }

}
.our-service
{

    width: 100%;
    .container{
        padding: 90px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 67px;
        h2 {
            color: #4E4E4E;
            font-size: 36px;
            font-weight: 400;

        }
        .service-nav {
            width: 930px;
           display: flex;
           .option {
            padding: 20px;
            border: 1px solid rgba(128, 128, 128, 0.499);
            cursor: pointer;
           }


        }
        .content-to-show {
            width: 930px;
            display: flex;
            img{
                width: 200px;
                height: 139px;
            }
            p {
                font-size: 13px;
                color: #777777;
                padding: 20px;
            }

        }





    }
}